* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(237, 244, 255);
}


header {
    background-color: rgb(105, 0, 185);
    color: white;
    font-weight: bold;
    height: 15rem;
    padding: 10px;
}

.form {
    background-color: white;
    width: 65rem;
    margin: auto;
    padding: 20px;
    position: relative;
    top: -70px;
}

.input input, .input label{
    display: block;
}

input {
    border: none;
    border-bottom: 1px solid gray;
    width: 30rem;
}

h1 {
    margin-bottom: 20px;
}

.gear_radio input, .gear_radio label {
    display: inline-block;
}

.input_radio {
    display: inline;
}